body *{
  font-family: 'Open Sans', sans-serif;
}



h1 {
  font-family: fantasy;
    font-size: 50px;
    color: rgba(160, 27, 9, 0.856);
    text-align: center;
}

body {
  background-color: lightgray;
}

.page {
  width: 900px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

h2{
  font-size: 25px;
  color: rgba(160, 27, 9, 0.856);
}

.a1 {
  font-size: 14px;
  color:grey;
}

.foot{
  text-align: center;
}

.s1{
  text-align: center;
}